<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/MEAT-Inc/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="ZacharyWalsh57" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>
